*{
	transition:all 400ms ease-out;
}

body {
	background-color:#313131;
}

h1{
	text-align:center;
}

#section-main{
	-webkit-filter:blur(5px);
}

#section-login {
	box-shadow: orangered 0px 0px 0px 10px;
	background-color: orangered;
	border: 15px solid #161023;
	animation: grow 1.2s 1;
	border-radius: 20px;
	position: fixed;
	height: 400px;
	width: 400px;
	left: 37vw;
	top: 20vh;
}

#triangle {
	left: 0;
	width: 0;
	right: 0;
	height: 0;
	margin: auto;
	cursor: pointer;
	margin-top: 20px;
	position: absolute;
	border-top: 100px solid #161023;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	animation: flashing 2s infinite linear;
 	border-bottom: 100px solid transparent;
}

#triangle:hover {
	transition: all .5s linear;
	animation: none;
	border-right: 80px solid transparent;
	border-left: 80px solid transparent;
	border-top: 100px solid cyan;
}

input {
	opacity: 0;
	border-radius: 20px;
	font-size: 150%;
	width: 10%;
	height: 10%;
	margin-left: 5%;
	padding-left: 999px;
	background-color: orangered;
	border: 5px solid #161023;
	color: aqua;
	padding-left: 5%;
}

input:hover{
	border-left-width: 10px;
	border-bottom-color: aqua;
	border-left-color: #161023;
}

.box{
	width: 100px;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 10px;
	text-align: center;
	border-radius: 20px;
	display: inline-table;
	border: 2px solid white;
	-webkit-user-select: none;
}

.box:hover{
	background-color:white;
	color:black;
}

@-webkit-keyframes grow {
  0%   {height:0px;width:0px; opacity:0;box-shadow: aqua 0px 0px 0px 999px; }
  100% {opacity: 1;height:60vh; width:26vw;box-shadow: orangered 0px 0px 0px 10px; }
}

.rotate {
	animation:rotating 1000s infinite linear;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);}to{transform:rotate(9999deg);
	}
}

@keyframes flashing {
	0%{border-top:100px solid #b30000; }
	50%{border-top:100px solid #161023; }
	100%{border-top:100px solid #b30000; }
}
